{%- set external_urls = {
  'github': 'https://github.com/mvinyard/torch-adata',
  'github_issues': 'https://github.com/mvinyard/torch-adata/issues',
  'docs': 'https://torch-adata.rtfd.io/en/latest',
  'twitter': 'https://twitter.com/vinyard_m',
}
-%}
